<head>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1618131920480-5a853847a2a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2066&q=80)">
      <div class="container">
        <h1>Find your escape. Tailored for you.</h1>
        <%= link_to "Explore", boats_path, class: "btn btn-light" %>
      </div>
    </div>
        <!-- The form -->
        <div class="container">
          <form class="search-button">
          <div class="d-flex align-items-center mt-5">
            <%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
            <%= f.input :boat_type, placeholder: 'Search', label:false, input_html: { class: "me-2 drop-shadow"}, wrapper_html: { class: "no-mb" } %>
            <%= f.input :start_date, placeholder: 'Start Date', label:false, as: "date", html5: true, input_html: { class: "me-2 drop-shadow" }, wrapper_html: { class: "no-mb" } %>
            <%= f.input :end_date, placeholder: 'End Date', label:false, as: "date", html5: true, input_html: { class: "me-2 drop-shadow"}, wrapper_html: { class: "no-mb" } %>
            <%= f.submit "Submit", class: "btn btn-dark me-2" %>
            <% end %>
          </div>
          </form>
            </div>
  </body>
</head>
