<head>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <body>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://mocah.org/5315364-drone-view-aerial-view-boat-sand-coast-water-sea-ocean-blue-looking-down-nature-outdoors-wallpaper-aerial-view-above-sky-drone-person-travel-public-domain-images.html][IMG]https://mocah.org/thumbs/5315364-drone-view-aerial-view-boat-sand-coast-water-sea-ocean-blue-looking-down-nature-outdoors-wallpaper-aerial-view-above-sky-drone-person-travel-public-domain-images.jpg);">
      <div class="container">
        <h1>Find your escape. Tailored for you.</h1>
        <a class="btn btn-light" href="#">Explore</a>
      </div>
    </div>
        <!-- The form -->
        <div class="container">
          <div class="search-button">
            <div class="d-flex align-items-center mt-5">
              <%= simple_form_for :search, url: boats_path, method: "GET", html: { class: 'form-inline d-flex' } do |f| %>
                <%= f.input :boat_type, placeholder: 'Search', label:false, input_html: { class: "me-2 drop-shadow"}, wrapper_html: { class: "no-mb" } %>
                <%= f.input :start_date, placeholder: 'Start Date', label:false, as: "date", html5: true, input_html: { class: "me-2 drop-shadow" }, wrapper_html: { class: "no-mb" } %>
                <%= f.input :end_date, placeholder: 'End Date', label:false, as: "date", html5: true, input_html: { class: "me-2 drop-shadow"}, wrapper_html: { class: "no-mb" } %>
                <%= f.submit "Submit", class: "btn btn-dark me-2" %>
              <% end %>
            </div>
          </div>
        </div>
  </body>
</head>
