<head>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <body>
  <div class="container">
    <div class="results mt-3">
    <h2>Search Results</h2>
    </div>
  <div class="cards">
  <% if params && params["/boats"] && params["/boats"][:boat_type].present? %>
    <% @results.each do |element| %>
    <%# had to change 'boat' to 'element' because now all boats in this content are element.searchable %>
      <%= link_to boat_path(element.searchable) do %>
        <div class="card-trip">
          <% unless element.searchable.photo.key.nil?%>
            <%= cl_image_tag element.searchable.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= element.searchable.title %></h2>
              <p><%= truncate(element.searchable.description, :length => 50) %></p>
              <p><%= element.searchable.location %></p>
            </div>
            <h2 class="card-trip-pricing"><%= element.searchable.price %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else  %>
    <% @results.each do |element| %>
    <%# had to change 'boat' to 'element' because now all boats in this content are element.searchable %>
      <%= link_to boat_path(element) do %>
        <div class="card-trip">

          <% unless element.photo.key.nil?%>
            <%= cl_image_tag element.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= element.title %></h2>
              <p><%= truncate(element.description, :length => 50) %></p>
              <p><%= element.location %></p>
            </div>
            <h2 class="card-trip-pricing"><%= element.price %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
  </div>
  </div>
  <body>
