<!DOCTYPE html>
<html>
  <head>
    <title>Sapphire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <%# /put nav bar here %>
    <div class="logo-header ms-4 me-4">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2">
      <%= link_to root_path do %>
        <%= image_tag'sapphire-logo-02.png' %>
      <% end %>
      <%# <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li>
          <%# <%= link_to "Home", root_path %>
        <%# </li> %>
      <%# </ul> %>
      <div class="navigation-links col-md-3 py-2 text-end">
        <%= link_to "Home", root_path %>
        <%= link_to "Login", user_session_path  %>
        <%= link_to "Sign Up", new_user_registration_path  %>
        <%= link_to "Log out", destroy_user_session_path(current_user), method: :delete  %>

      </div>
    </header>
  </div>
    <% if flash[:notice] %>
      <div class="flash flash-success alert alert-dismissible fade show" role="alert">
        <span><%= flash[:notice] %></span>
        <a data-bs-dismiss="alert" aria-label="Close">
          <i class="fas fa-times"></i>
        </a>
      </div>
    <% end %>
    <%= yield %>
    <%# put footer %>
<div>
  <footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="sapphire-inc">© 2022 Sapphire, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex me-5">
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-twitter"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-facebook"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram"></i></a></li>
    </ul>
  </footer>
</div>


  </body>
</html>
